appdirs==1.4.4
audioread==3.0.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
decorator==4.4.2
ffmpeg==1.4
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
joblib==1.3.1
lazy_loader==0.3
librosa==0.10.0.post2
llvmlite==0.40.1
moviepy==1.0.3
msgpack==1.0.5
numba==0.57.1
numpy==1.24.4
packaging==23.1
Pillow==10.0.0
pooch==1.6.0
proglog==0.1.10
pycparser==2.21
pydub==0.25.1
requests==2.31.0
scikit-learn==1.3.0
scipy==1.11.1
soundfile==0.12.1
soxr==0.3.5
threadpoolctl==3.2.0
tqdm==4.65.0
typing_extensions==4.7.1
urllib3==2.0.4
argparse==1.4.0